<ion-view title="Forgot Password">
    <ion-content class="has-header">

        <div class="container">
            <div class="text-center">
                <img src="../img/logo.jpg" alt="My Drop Cam" />
            </div>
            <div class="row col-center" >

                <div class="col">
                    <div class="text-center">
                        <div class="list">
                            <label class="item item-input">
                                <span class="input-label">Email</span>
                                <input type="text">
                            </label>

                            <button class="button button-block button-positive">Reset PAssword</button>

                        </div>
                    </div>
                </div>

            </div>
            <div class="row">

                <div class="col">
                    <a href="#/register" class="">Register</a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
